.parallax-parent
  overflow: hidden
  opacity: 0.99

.parallax
  height: calc(100% + 50px)
  width: 100vw
  position: fixed
  background:
    repeat: no-repeat
    position: center bottom // calc(100% + 0px)
    size: cover // TODO: maybe use this?
  // min-width: 100%
  // min-height: 100%
  transition: transform 0.075s cubic-bezier(0.14, 0.63, 0.14, 0.99) // cubic-bezier(0, 0, 0.2, 1) // cubic-bezier(0.22, 0.61, 0.36, 1)
  pointer-events: none
  transform: translate3d(0px, 0px, -1px)
  top: 0px

.parallax-landing
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1)
  transform: translate(0, 0)
  opacity: 1

.parallax-landing-hidden
  transform: translate(50px, 0)
  opacity: 0
