doctype html
head
    meta(charset="utf-8")
    title Dylan Larsen
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css" type="text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600" type="text/css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500&subset=greek' type='text/css')
    //- link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,300' type='text/css')
body
    nav
        .header-title.load-animation.load-animation-start
            a(href="")
                span DYLΛN LΛRSEN
        .header-navigation.load-animation.load-animation-start
            a(href="#intro")#intro-nav.selected
                span Home
            a(href="#about")#about-nav
                span About
            a(href="#images")#images-nav
                span Photos
            a(href="#films")#films-nav
                span Films
            a(href="#contact")#contact-nav.button
                span Contact Me

    
    #intro.intro-section.parallax-parent
        #intro-parallax.intro-background.parallax(style="background-image: url('./images/intro-background-1440.jpg')")
            .darken-30
        .intro-title
            .intro-text
                h3.load-animation.load-animation-start DYLΛN LΛRSEN
                h1.load-animation.load-animation-start Lorem ipsum, dolor sit amet.
    
    
    #about.about-section
        .about-title.parallax-landing.parallax-landing-hidden
            h1 About
        .about-content
            .about-image.parallax-landing.parallax-landing-hidden
                img(src="./images/profile.jpg").profile-image
            span.text.parallax-landing.parallax-landing-hidden Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
    
    
    #images.parallax-parent
        .heading-section
            #images-parallax.heading-background.parallax(style="background-image: url('./images/images-background-1440.jpg')")
                .darken-20
            .heading-title
                .heading-text
                    h1 Photos
        .content-section
            .grid
                ul
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                ul
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
    
    
    #films.parallax-parent
        .heading-section
            #films-parallax.heading-background.parallax(style="background-image: url('./images/images-background-1440.jpg')")
                .darken-20
            .heading-title
                .heading-text
                    h1 Films
        .content-section
            .grid
                ul
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                ul
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
                    li
                        .image(style="background-image: url(./images/images-background-1440.jpg)")
    .placeholder

    footer
        .footer-content
            p © Dylan Larsen, 2016
                
    script(type="text/javascript" src="js/jquery-2.2.3.min.js")
    script(type="text/javascript" src="js/jquery-ui-1.11.4.min.js")
    script(type="text/javascript" src="js/script.min.js")
